/app/*.iml
/app/.gradle
/app/local.properties
/app/.idea/caches
/app/.idea/libraries
/app/.idea/modules.xml
/app/.idea/workspace.xml
/app/.idea/navEditor.xml
/app/.idea/assetWizardSettings.xml
/app/.idea/*.xml
/app/.DS_Store
/app/build
/app/captures
/app/.externalNativeBuild
/app/.cxx
/app/local.properties
/backend/service/serviceAccountKey.json
/backend/service/.idea/
/backend/service/__pycache__/
/backend/service/html/node_modules/
/backend/service/html/package.json
/backend/service/html/package-lock.json