<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SchoolEpidemicReportSystem">
        <activity
            android:name=".ConfirmReportFragment"
            android:exported="false" />

        <receiver
            android:name=".receiver.WarningReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".receiver.UploadReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="FirebaseUpload" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.WarningLiftActivity"
            android:label="解除警示狀態" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ReportActivity"
            android:label="疫情回報" />
        <activity
            android:name=".activity.LobbyActivity"
            android:label="Lobby Activity" />
        <activity
            android:name=".activity.StudentNotificationActivity_rapid"
            android:label="@string/lobby_menu_notification" />
        <activity
            android:name=".activity.StudentNotificationActivity_PCR"
            android:label="@string/lobby_menu_notification" />
        <activity
            android:name=".activity.StudentNotificationActivity_course"
            android:label="@string/lobby_menu_notification" />
        <activity
            android:name=".activity.OtherFootprintsActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/lobby_menu_other_footprints" />
        <activity
            android:name=".activity.AddFootprintsActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/lobby_menu_add_footprints" />
        <activity
            android:name=".activity.OtherFootprintsFinish"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/lobby_menu_finish_footprints" />
    </application>

</manifest>